@font-face {
  font-family: Raleway-700;
  src: url(../fonts/raleway-v28-cyrillic-700.ttf);
}
@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/roboto-v30-cyrillic-regular.ttf);
}
@font-face {
  font-family: Roboto-500;
  src: url(../fonts/roboto-v30-cyrillic-500.ttf);
}
@font-face {
  font-family: Roboto-700;
  src: url(../fonts/raleway-v28-cyrillic-700.ttf);
}
@font-face {
  font-family: Roboto-900;
  src: url(../fonts/roboto-v30-cyrillic-900.ttf);
}
:root {
  --color-bg-header-and-logo-btn-addres: #ffffff;
  --color-logo-and-focus-btn-hero: #2196f3;
  --color-logo-light-bg: #000000;
  --color-nav-and-title-and-btn-project: #212121;
  --color-bg_section-preference-work-projects: #f5f5f5;
  --color-contacts-and-paragraph: #757575;
  --color-bg-our-tim-and-bg-button-our-projects: #f5f4fa;
  --color-bg-hero-and-footer: #2f303a;
  --color-button-hero-focus: #188ce8;
  --color-contact-in-footer: rgba(255, 255, 255, 0.6);
  --color-bg-hero: #c4c4c4;
  --color-soc-icon: #afb1b8;
  --color-modal-input-border: rgba(33, 33, 33, 0.2);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: Roboto-regular, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 14px;
  color: var(--color-contacts-and-paragraph);
}

.title-section {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-and-title-and-btn-project);
}
@media screen and (min-width: 1200px) {
  .title-section {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  border: 1px solid #ececec;
}

.container-header {
  display: flex;
}

.navigation {
  display: flex;
  gap: 50px;
}

.contact {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-colored {
  font-family: Raleway-700, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo-and-focus-btn-hero);
}

.logo__dark {
  color: var(--color-logo-light-bg);
}

.navigation__link {
  padding: 32px 0;
  display: block;
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-nav-and-title-and-btn-project);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--color-logo-and-focus-btn-hero);
}

.current {
  color: var(--color-logo-and-focus-btn-hero);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: var(--color-logo-and-focus-btn-hero);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.navigation__item {
  position: relative;
}

.contact__link {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--color-logo-and-focus-btn-hero);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--color-logo-and-focus-btn-hero);
}

.hero {
  height: 400px;
  max-width: 100%;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-bg-hero);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  vertical-align: middle;
  font-family: Roboto-900, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-bg-header-and-logo-btn-addres);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 200;
  background: var(--color-logo-and-focus-btn-hero);
  font-family: inherit;
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  height: 50;
  padding: 10px 32px;
  border: 1px transparent;
  color: var(--color-bg-header-and-logo-btn-addres);
  position: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216;
  }
}
.hero__button:hover, .hero__button:focus {
  background: var(--color-button-hero-focus);
}

.section-pb-null {
  padding-bottom: 0;
}

.preference {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .preference {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.preference__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .preference__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .preference__item {
    width: calc((100% - 90px) / 4);
  }
}

.preference__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-our-tim-and-bg-button-our-projects);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.preference__title {
  margin-bottom: 10px;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-nav-and-title-and-btn-project);
}

.preference__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .hidden-mob-tab {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.our-work {
  display: flex;
  gap: 30px;
}

.our-work__img {
  display: block;
}

.our-work__label {
  position: relative;
}

.our-work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  min-height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg-header-and-logo-btn-addres);
}

.our-tim {
  width: 100%;
}

.our-tim__text {
  padding: 30px 32px;
}

.section-our-tim {
  background: var(--color-bg-our-tim-and-bg-button-our-projects);
}

.our-tim__item {
  width: 100%;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-bg-header-and-logo-btn-addres);
}

.our-tim__workers {
  margin-bottom: 10px;
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-and-title-and-btn-project);
}

.our-tim__positions {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.soc-tim {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.soc-tim__item {
  width: 44px;
  height: 44px;
}
.soc-tim__item:not(:last-child) {
  margin-right: 10px;
}

.soc-tim__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-tim__link:hover, .soc-tim__link:focus {
  background-color: var(--color-logo-and-focus-btn-hero);
}

.soc-tim__icon {
  fill: var(--color-soc-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-tim__link:hover .soc-tim__icon, .soc-tim__link:focus .soc-tim__icon {
  fill: var(--color-bg-header-and-logo-btn-addres);
}

.customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customers__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-soc-icon);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--color-logo-and-focus-btn-hero);
}

.customers__logo {
  fill: var(--color-soc-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__logo, .customers__link:focus .customers__logo {
  fill: var(--color-logo-and-focus-btn-hero);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}

.menu__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--color-bg-our-tim-and-bg-button-our-projects);
  font-family: inherit;
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--color-nav-and-title-and-btn-project);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:nth-child(1) {
  padding-right: 25px;
  padding-left: 25px;
}
.menu__btn:hover, .menu__btn:focus {
  background: var(--color-logo-and-focus-btn-hero);
  color: var(--color-bg-header-and-logo-btn-addres);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__link {
  color: inherit;
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__box {
  position: relative;
  overflow: hidden;
}

.projects__text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-bg-header-and-logo-btn-addres);
}
.projects__link:hover .projects__text {
  transform: translateY(0%);
}

.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-nav-and-title-and-btn-project);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  width: calc((100% - 60px) / 3);
}

.projects__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.projects__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.capital-letters {
  text-transform: uppercase;
}

.footer {
  background: var(--color-bg-hero-and-footer);
  padding: 60px 0px;
}

.logo__part-light {
  color: var(--color-bg-header-and-logo-btn-addres);
}

.addres {
  font-style: normal;
  margin-top: 20px;
}

.addres__footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres__footer:hover, .addres__footer:focus {
  color: var(--color-logo-and-focus-btn-hero);
}

.addres__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-bg-header-and-logo-btn-addres);
}

.addres__list {
  list-style: none;
}
.addres__list:not(:last-child) {
  margin-bottom: 9px;
}

.addres__contact {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact-in-footer);
}

.container-footer {
  display: flex;
  flex-direction: row;
}

.container-addres {
  margin-right: 70px;
}

.subscribe {
  margin-left: auto;
}

.soc-join__text {
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg-header-and-logo-btn-addres);
  margin-bottom: 20px;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-join__item {
  width: 44px;
  height: 44px;
}
.soc-join__item:not(:last-child) {
  margin-right: 10px;
}

.soc-join__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-join__link:hover, .soc-join__link:focus {
  background-color: var(--color-logo-and-focus-btn-hero);
}

.soc-join__icon {
  fill: var(--color-bg-header-and-logo-btn-addres);
}

.subscribe__title {
  margin-bottom: 20px;
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg-header-and-logo-btn-addres);
}

.subscribe__input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--color-bg-header-and-logo-btn-addres);
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid var(--color-contact-in-footer);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-bg-hero-and-footer);
}
.subscribe__input:focus {
  border: 1px solid var(--color-logo-and-focus-btn-hero);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-contact-in-footer);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-contact-in-footer);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--color-contact-in-footer);
}

.subscribe__container {
  display: flex;
  align-items: center;
}

.subscribe__btn {
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-bg-header-and-logo-btn-addres);
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.subscribe__icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  background: var(--color-bg-header-and-logo-btn-addres);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  background: var(--color-bg-header-and-logo-btn-addres);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus + svg {
  fill: var(--color-logo-and-focus-btn-hero);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  margin-bottom: 12px;
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-and-title-and-btn-project);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-modal-input-border);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid var(--color-logo-and-focus-btn-hero);
}

.modal__wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--color-logo-and-focus-btn-hero);
}

.modal__submit-btn {
  padding: 10px 52px;
  margin: 0px auto;
  font-family: inherit;
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200;
  height: 50;
  text-align: center;
  display: block;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--color-bg-header-and-logo-btn-addres);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  background: var(--color-button-hero-focus);
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-contacts-and-paragraph);
}

.modal__item {
  margin-bottom: 10px;
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__user-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--color-modal-input-border);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__user-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__user-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__user-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__user-text:focus {
  border: 1px solid var(--color-logo-and-focus-btn-hero);
}

.check {
  margin-bottom: 30px;
  display: flex;
}

.check__text {
  margin-left: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contacts-and-paragraph);
  display: flex;
  align-items: center;
  position: relative;
}
.check__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-nav-and-title-and-btn-project);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__input:checked + .check__text span {
  background-color: var(--color-logo-and-focus-btn-hero);
  border-color: transparent;
  fill: var(--color-bg-header-and-logo-btn-addres);
}
.check__input:focus + .check__text span {
  border-color: var(--color-logo-and-focus-btn-hero);
}

.check__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-logo-and-focus-btn-hero);
}

.check__input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */