.customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.customers__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
@include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-soc-icon);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--color-logo-and-focus-btn-hero);
  }
}

.customers__logo {
  fill: var(--color-soc-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customers__link:hover &,
  .customers__link:focus & {
    fill: var(--color-logo-and-focus-btn-hero);
  }
}
