.footer {
  background: var(--color-bg-hero-and-footer);
  padding: 60px 0px;
  @include desktop {
  }
}

.addres {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.addres__footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-logo-and-focus-btn-hero);
  }
}

.addres__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-bg-header-and-logo-btn-addres);
}

.addres__item {
  list-style: none;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.addres__contact {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact-in-footer);
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
  }
}

.container-addres {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    margin-right: 70px;
  }
}

.container__addres-soc {
  @include tablet {
    display: flex;
    gap: 165px;
  }
}

.soc-join__text {
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;
  color: var(--color-bg-header-and-logo-btn-addres);
  margin-bottom: 20px;
}

.join {
  display: flex;

  align-items: center;
  justify-content: center;
}

.soc-join {
  margin-bottom: 60px;
}

.soc-join__item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soc-join__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-logo-and-focus-btn-hero);
  }
}

.soc-join__icon {
  fill: var(--color-bg-header-and-logo-btn-addres);
}

.subscribe__title {
  margin-bottom: 20px;
  font-family: Roboto-700, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg-header-and-logo-btn-addres);

  text-align: center;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  @include mobile {
    width: 450px;
  }
  @include desktop {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
  }
  color: var(--color-bg-header-and-logo-btn-addres);
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid var(--color-contact-in-footer);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-bg-hero-and-footer);
  &:focus {
    border: 1px solid var(--color-logo-and-focus-btn-hero);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--color-contact-in-footer);
  }
}

.subscribe {
  @include desktop {
    margin-left: auto;
  }
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__btn {
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-bg-header-and-logo-btn-addres);
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.subscribe__icon-send {
  margin-left: 10px;
}
