.header {
  border: 1px solid #ececec;
}
.menu-open-btn {
  background-color: transparent;
  border: transparent;
  @media screen and (max-width: 767px) {
    margin-left: auto;
  }
  @include tablet {
    display: none;
  }
}

.menu-open-btn__icon {
  fill: var(--color-menu-open-btn__icon);
}
.mobile-header {
  display: flex;
}

.mob-menu {
  position: fixed;
  top: 0;
  background: var(--color-bg-header-and-logo-btn-addres);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mob-container__menu {
  margin-bottom: 50px;
}
.mob-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  overflow: auto;
}
.menu-close-btn {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus+svg {
      fill: var(--color-logo-and-focus-btn-hero);}
}

.menu-mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-nav-and-title-and-btn-project);
}

.menu-contact__link-tel {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-logo-and-focus-btn-hero);
  margin-bottom: 32px;
  display: block;
  @include mobile {
    font-size: 34px;
  }
}

.menu-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-contacts-and-paragraph);
  margin-bottom: 64px;
  display: block;
}

.menu-soc {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  @include mobile {
    flex-wrap: nowrap;
  }
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-logo-and-focus-btn-hero);
}

.menu-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--color-modal-input-border);
}

.container-header {
  @include tablet {
    display: flex;
  }
}

.navigation {
  display: none;
  @include tablet {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
}

.contact {
  // padding: 21px 0px;
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-items: center;
    gap: 10px;
    margin-left: auto;
  }
  @include desktop {
    // display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
    // align-items: center;
  }
}

.navigation__link {
  padding: 32px 0;
  display: block;
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-nav-and-title-and-btn-project);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-logo-and-focus-btn-hero);
  }
}

.current {
  color: var(--color-logo-and-focus-btn-hero);
  @include tablet {
    &::after {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: var(--color-logo-and-focus-btn-hero);
      border: 1px solid transparent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }
  }
}

.navigation__item {
  position: relative;
}

.contact__link {
  font-family: Roboto-500, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-logo-and-focus-btn-hero);
  }
  @include tablet {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-items: center;



    font-family: Roboto-500, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: center;
  }
  @include desktop {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.14;
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--color-logo-and-focus-btn-hero);
    }
  }
}

.contact__item {
  @include tablet {
    display: flex;
    justify-items: center;
      flex-direction: column;
      align-items: flex-start;
      justify-items: center;
      z-index: 1;

  }
}



.contact__mail {
  @media screen and (max-width: 1199px){
        display: block;
          padding-top: 21px;
  } 
}

.contact__tel {
  @media screen and (max-width: 1199px) {
    display: block;
    padding-bottom: 21px;
  }
}

.contact__icon {
  margin-right: 8px;
  fill: currentColor;
  // margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--color-logo-and-focus-btn-hero);
  }
  @include desktop {
    margin-right: 10px;
  }
}
.mail-icon {
    @include tablet {
        width: 14px;
        height: 10px;
      }
}
.tel-icon {
  @include tablet {
    width: 10px;
    height: 14px;
  }
}